<div class="card my-5">
  <div class="card-body">
    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()" #userForm="ngForm">

      <div  class="form-group">
        <label for="dateDebut">Date Min</label>
        <input type="date"
          class="form-control"
          id="dateDebut"
          name="dateDebut"
          formControlName="dateDebut"
          placeholder="Date Min"
        >
      </div>

      <div class="form-group">
        <label for="dateFin">Date Max</label>
        <input type="date"
          class="form-control"
          id="dateFin"
          name="dateFin"
          formControlName="dateFin"
          placeholder="Date Fin"
        >
      </div>

        <div class="form-group">
                  <label for="regions">Région</label>
                  <input type="text"
                    class="form-control"
                    id="regions"
                    name="regions"
                    formControlName="regions"
                    placeholder="Région"
                    >
                </div>

        <div class="form-group">
                  <label for="secteurs">Secteur</label>
                  <input type="text"
                    class="form-control"
                    id="secteurs"
                    name="secteurs"
                    formControlName="secteurs"
                    placeholder="Secteur"
                    >
                </div>

      <button type="submit"
        class="btn btn-info">Soumettre</button>
    </form>
  </div>
</div>

<div *ngFor="let article of articles" class="card my-5">
  <div class="card-body ensemble">
    <div class="titre">  {{article.titre}} </div>
    <div class="corps"> {{article.corps}}</div>
    <div> <strong><u> Date de publication</u></strong> :  {{pipe.transform(article.datePublication,'longDate')}}</div>
    <div> <strong><u> Source</u></strong> :  {{article.source}}</div>
    <div><strong><u> Édition</u></strong>  : {{article.edition}}</div>
    <div> <strong><u> Département</u></strong> : <span class="badge badge-primary badge-pill" *ngFor="let departement of article.departements.split(',')">{{departement}}</span> </div>
    <div> <strong><u> Régions</u></strong> : <span class="badge badge-primary badge-pill" *ngFor="let region of article.regions.split(',')">{{region}}</span> </div>
    <div> <strong><u> Secteurs</u></strong> : <span class="badge badge-primary badge-pill" *ngFor="let secteur of article.secteurs.split(',')">{{secteur}}</span></div>
    <div> <strong><u> Thèmes</u></strong> : <span class="badge badge-danger badge-pill" *ngFor="let theme of article.themes.split(',')">{{theme}}</span></div>
  </div>
</div>
